.parent {
    width: 100%;
    display: flex;
    align-items: top;
    align-content: center;
    justify-content: center;
    overflow: scroll;
}

.block {
    width: 400px;
    border: 2px solid #383333;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.game-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    border: 2px solid #383333;
    border-radius: 20px;
    width: 96%;
    margin: 10px 0px 20px 0px;
    padding: 0px 20px 0px 20px;
    background-color: bisque;
}

div.hide {
    visibility: hidden;
}

div.game-cards {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
}

div.card {
    cursor: pointer;
    height: 180px;
    width: 32%;
    border: 3px solid #383333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    border-radius: 20px;
    font-size: 16px;
    color: white;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}

div.game-newgame {
    cursor: pointer;
    height: 40px;
    width: 96%;
    border: 0px;
    color: white;
    background-color: #3a45dd;
    border: 3px solid #383333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    border-radius: 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

div.new {
    background-color: #3a45dd;
}

div.select {
    background-color: #686db4;
}

div.empty {
    background-color: rgb(112, 207, 207);
}

div.win {
    background-color: greenyellow;
    color: black;
}

div.loose {
    background-color: red;
    color: white;
}

div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 20px 20px;
}

div.result {
    border: 5px solid #383333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.rules-title {
    font-size: 150%;
    font-weight: bold;
}

.footer {
    top: -20px;
}

div.rule {
    line-height: 1.2;
    text-align: justify;
    background-color: bisque;
    align-content: center;
    width: 100%;
    height: auto;
    border: 2px solid #383333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    border-radius: 20px;
    padding: 10px 10px 10px 30px;
}

ul {
    padding: 0;
    /* Убираем поля */
    margin: 0;
    /* Отступ слева */
}

@media(max-width:400px) {
    .block {
        width: 98%;
    }
    div.result {
        width: 100px;
    }
}