* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    padding-top: 44px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.cards {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

div.card {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    border: 5px solid #383333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    border-radius: 20px;
    font-size: 16px;
    color: white;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.new {
    background-color: #3a45dd;
}

div.select {
    background-color: #686db4;
}

div.empty {
    background-color: rgb(112, 207, 207);
}

div.win {
    background-color: greenyellow;
}

div.loose {
    background-color: red;
}

div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 20px 20px;
}

div.result {
    border: 5px solid #383333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.rules {
    display: none;
}

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}